@{
    ViewBag.Title = "home";
}

        @{
    
    Layout="~/Views/Shared/_Layout.cshtml";
    
}

   
    <!-- nav bar is coompleted here-->

    <div class="container">
        <div class="row">
            
             <h1>Welcome To Arduino @ViewBag.name</h1> 
            
    
              

          
          <p>
This is a web application which will facilitate the people to buy online different electrical circuit boards, different electronic projects and different electrical components e.g. sensors, diodes, transistors which are rare and not easily available in Pakistan and very difficult to find the stores from where you can buy. So this application can help people to buy them without any difficulty with home delivery. This application will also provide complete solution to use these components operating software’s to work on these boards, different project codes and boards in your projects along with various innovative project ideas.
</p>   	
      
       
  <!--<button id="slideShowButton"></button>  Optional button element. -->
  <script src="/Scripts/slideShow.js"></script>

            
            
            
            
            
            
            
            
            
                  
        </div>
        <div class="row">
        <div class="col-md-5">
                   
            
            <div id="slideShowImages"  style="border:solid ;border-color:white">
    <img src="/Images/images (4).jpg" alt="Slide 1" />
    <img src="/Images/m.jpg" alt="Slide 2" />
    <img src="/Images/ecorobot.jpg" alt="Slide 3" />    
    <img src="/Images/melLi.jpg" alt="Slide 4" />
    <img src="/Images/moog-arduino.jpg" alt="Slide 5" /> 
    <img src="/Images/z.jpg" alt="Slide 5" />   
  </div>
            
               
          
        </div>
        <div class="col-md-4" style="margin-left:20%">

            <h2>NEW WEBSITE</h2>
                <p>Welcome to our new website. Please have a look around, any feedback is much appreciated.</p>
            <h2>SHOW YOUR ARDUINO PROJECT</h2>
            <p>Do you have a cool project you'd like to be featured on our blog?
Fill the form and we'll get in touch if your submission gets published</p>
             <h2>COMMUNITY</h2>
                <p>The community of Arduino enthusiasts is vast, and includes region specific groups and special interest groups.
The official multi-language Forum is the place to start with questions of all kinds. Check out the Playground for a collection of Arduino knowledge, tutorials, and instructions provided directly by Arduino users.</p>
      <h2>TALK TO US</h2>
            <p>You can <a href="contactus.html">Contact us</a> to get answers to your comments and concerns. </p>
        </div>
       </div>
       
    </div>
    
     <!-- page footer -->
   
    









   


