@{
    ViewBag.Title = "blog";
}
      @{
    
    Layout="~/Views/Shared/_Layout.cshtml";
    
}
    <!-- nav bar is coompleted here-->


    <div class="row">
        <div class="col-md-3" style="margin-left:300px">
            <h1> Xmas Pack</h1>
                <div class="form-group">
                    <img src="/Images/XmasPack.jpg"/>
                    <br/>
                    <p>This holiday season we have a special package for you. Arduino Xmas Pack contains all you need to make the perfect gift for anybody willing to get into the Arduino world and put their hands on official gadgets and the widely appreciated Arduino Starter Kit.

The Starter Kit walks you through the basics of Arduino and electronics in a hands-on way through 15 projects to build, hack and share something great every day.

Xmas Pack includes (see pic above):

    Arduino Starter Kit in Italian or English
    Arduino T-Shirt (you can choose your size)
    Arduino Mug
    6 Pins
</p>
                    </div>
                
                <div class="form-group">
                    <h1>Arduino TRE</h1>
                    <img src="/Images/TRE_photoboot-Small.jpg"/>
                    <br/>
                     <br/>
                    <p>An example of a project running on an Arduino TRE.
3D Photobooth, Xun Yung and Tien Pham, Maker Faire Rome 2014.
A 3D anaglyph photobooth uses two cameras to capture a 3D picture. Each picture is processed using the Arduino TRE board. It separates the red channel from one camera and the cyan channel from the other, and overlays them together. The result is then printed out on a large photostrip.</p>
                    </div>
            <div class="form-group">
                <h1>Robotic Hand</h1>
                    <img src="/Images/robotichand.jpg"/>
                    <br/>
                 <br/>
                    <p>To celebrate the amazing moments we created a series of short videos showcasing the use of Arduino in projects hosted during the Faire. Our crew explored the whole exhibition and talked with a lot of makers presenting a project with Arduino inside.</p>
                    </div>
            
        </>

    </div>
        </div>
    
     <!-- page footer -->
 




   


